body {
    background-color: bisque;
}

hr {
    border-style: dotted none none;
    border-width: 15px;
    border-color: #460C68;
    width: 10%;
}

h1 {
    color:  #9C254D;
}

h3 {
    color: #9C254D;
}